body {
    background-image: url("bird.gif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    height: 100%;
}

.container {
    background: rgb(41, 3, 3);
    color: white;
    max-width: 80%;
    margin: auto;
    border: 10px solid black;
    border-radius: 10px;
    position: relative;
    opacity: 75%;
    padding: 10px;
    font-weight: bolder;
    border: 1px solid black;
    text-decoration: none;
}

.navbar {
    background-color: rgb(41, 3, 3);
    list-style: none;
    overflow: auto;
    border: 2px solid black;
    border-radius: 10px;
    opacity: 0.75;
    text-decoration: none;
    -webkit-text-fill-color: white;
}

.navbar li a {
    color: white;
    text-decoration: none;
    float: left;
    padding: 10px 5px;
    margin: 2px 20px;
}

.navbar li a:hover {
    color: #96ccbc;
    transition: 0.3s;
    transform: scale(1.1);
}

.search {
    float: right;
    margin: 5px 15px;
    color: black;
}

.navbar input {
    padding: 5px;
    width: 200px;
    border: 2px solid black;
    border-radius: 8px;
    text-decoration: none;
}

button {
    border: 1px solid rgb(226, 36, 36);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;  
    color: white;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#inc-btn {
    background-color: rgb(0, 64, 255);
}

#dec-btn {
    background-color: rgb(184, 151, 3);
}

#zero-btn {
    background-color: rgb(255, 0, 0);
}

#save-btn {
    background-color: green;
}

#save-el {
    font-weight: bold;
}

#inc-el {
    font-weight: bold;
}

#dec-el {
    font-weight: bold;
}

#zero-el {
    font-weight: bold;
}